body {
    background-color: #404040;
    color: white;
    overflow: hidden;
}

#debug
{
    margin: 0;
    position: absolute;
    top: 0;
    left: calc(100% - 600px);
    width: 300px;
    height: 100%;
    background: #440000;
    color: white;
    box-sizing: border-box;
    z-index: 2;
    display: none;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 300px);
}

#chat
{
    margin: 0;
    position: absolute;
    top: 0;
    left: calc(100% - 300px);
    width: 300px;
    height: 100%;
    background: #c0c0c0;
    color: black;
    box-sizing: border-box;
}

#chat .messages
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.messages .message
{
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

#chat .chat
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}
