:root
{
    --panel-background: #202020;
    --tab-background: #262626;
    --tab-background-active: #303030;
}


body 
{
    background-color: #303030;
    color: white;
    overflow: hidden;
    font-size: 15px;
}

#topbar
{
    position: absolute;
    top: 0;
    left: 50px;
    right: 0px;
    height: 34px;
    background: var(--panel-background);
}

#topbar #top_chat_title
{
    position: absolute;
    left: calc(100% - 300px);
    width: 300px;
    height: 100%;
    top: 0;
    padding: 0 10px 0 10px;
    line-height: 34px;
    border-left: 1px solid #00000055;
    color: white;
    box-sizing: border-box;
}

#topbar #top_chat_title > div:before
{
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url(feather/message-circle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 10px 0 0px;
    filter: invert(1);
    opacity: 0.7;
    position: relative;
    top: 2px;
}

#topbar #top_chat_title > div
{
    display: block;
    float: left;
}

#topbar #top_chat_title > em
{
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 9px;
    filter: invert(1);
    opacity: 0.7;
    float: right;
    cursor: pointer;
}

#topbar #top_chat_title > em:hover
{
    opacity: 1;
}

#topbar #top_chat_title .chat-reset
{
    background-image: url(feather/trash.svg);
}

#topbar #top_chat_title .chat-save
{
    background-image: url(feather/archive.svg);
}

#topbar #top_toolbar
{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    top: 0;
    padding: 0;
    line-height: 34px;
    color: white;
}

#leftbar
{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: var(--panel-background);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftbar .button 
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: auto; 
    border: none;
    margin: 0;
    cursor: pointer;
    transform-origin: center;
    background: transparent;
    color: white;
    opacity: 0.8;
    border-bottom: 1px solid #00000055;
    padding: 0 0 10px 0;
}

#leftbar .button > span 
{
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
}

#leftbar .button.active
{
    font-weight: bold;
    opacity: 1;
}

#leftbar .button:hover
{
    opacity: 1;
    background-color: #44444488;
}

#leftbar .button:before
{
    content: " ";
    display: block;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.5;
    margin: 10px 0 10px 0;
}

#leftbar .button.btn-editor:before { background-image: url(feather/code.svg); }
#leftbar .button.btn-contexts:before { background-image: url(feather/list.svg); }
#leftbar .button.btn-flow-nodes:before { background-image: url(feather/hexagon.svg); }
#leftbar .button.btn-ai-tools:before { background-image: url(feather/user.svg); }
#leftbar .button.btn-version-control:before { background-image: url(feather/git-branch.svg); }
#leftbar .button.btn-project:before { background-image: url(feather/briefcase.svg); }

#rightbar
{
    position: absolute; /* todo enable */
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
}

#bottombar
{
    position: absolute;
    bottom: 0;
    height: 34px;
    left: 50px;
    right: 0px;
    background: var(--panel-background);
    text-align: right;
    box-sizing: border-box;
}

#bottombar button
{
    margin: 0;
}

#bottombar .button
{
    display: inline-block;
    height: 34px;
    border: 0;
    background: transparent;
    color: white;
    line-height: 34px;
    padding: 0 10px 0 42px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.8;
    border-left: 1px solid #00000055;
}

#bottombar .button:hover
{
    opacity: 1;
    background-color: #44444488;
}

#bottombar .btn-debug
{
}

#bottombar .btn-debug:before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 34px;
    display: inline-block;
    margin: 0 10px 0 10px;
    background-image: url('feather/alert-triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.5;
}

#bottombar .btn-document:before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 34px;
    display: inline-block;
    margin: 0 10px 0 10px;
    background-image: url('feather/file-text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.5;
}

#bottombar .bottom-info
{
    position: relative;
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
    color: white;
    padding: 0 10px 0 10px;
}

#debug
{
    z-index: 2;
}

#debug .page-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    border-right: 1px solid #00000088;
}

#debug .close-page
{
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 10px;
    top: 10px;
    background-image: url(feather/x.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    cursor: pointer;
    opacity: 0.8;
    margin: 0 0 0 10px;
    z-index: 22;
}
#debug .close-page:hover
{
    opacity: 1;
}

#debug #page_debug.page.active
{
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    bottom: 0;
    background: #440000aa;
    color: white;
    box-sizing: border-box;
    z-index: 2;
    padding: 20px;
}

#debug #page_document.page.active
{
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    bottom: 0;
    background: var(--panel-background);
    color: white;
    box-sizing: border-box;
    z-index: 2;
    padding: 20px;
}

#page_codehelp
{
    z-index: 3;
    box-shadow: 0 0 10px 1px black;
    border-radius: 5px 0 0 5px;
    max-width: 70%;
    width: 70%;
    height: 80%;
    top: calc(10%) !important;
    left: calc(100% - 70%) !important;
    max-height: 80%;
    border: 2px solid #003355;
    box-sizing: border-box;
}

#page_codehelp pre
{
    min-height: 100%;
    margin: 0;
}

#page_codehelp .close
{
    position: absolute;
    top: -30px;
    right: 10px; 
    width: 20px;
    height: 20px;
    filter: invert(1);
    background-image: url(feather/x-circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#pages, #debug
{
    margin: 0;
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 51px;
    width: calc(100% - 351px);
    overflow: hidden;
    pointer-events: none;
}

#pages .page, #debug .page
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
}

#pages .page #editor
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pages .page.active, #debug .page.active
{
    opacity: 1;
    pointer-events: all;
}

#chat
{
    margin: 0;
    position: absolute;
    top: 35px;
    left: calc(100% - 300px);
    width: 300px;
    bottom: 35px;
    background: var(--panel-background);
    color: white;
    color: black;
    box-sizing: border-box;
}

#chat .messages
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

#chat .messages p.block
{
    background-color: #441188;
    color: white;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

#chat .messages p.block.active
{
    background-color: #003355;
    position: relative;
}

#chat .messages p.block.active:before
{
    position: absolute;
    top: 11px;
    left: -20px;
    height: 5px;
    width: 20px;
    background-color: #003355;
    content: " ";
    display: block;
}

#chat .prompt
{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 10px;
    left: 10px;
    resize: hidden;
}

.messages .message
{
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 0 0 26px 0;
    box-sizing: border-box;
    position: relative;
}

.messages .message:after
{
    content: " ";
    display: block;
    position: absolute;
    top: calc(100% - 0.1px);
    left: 10px;
    width: 16px;
    height: 16px;
    background-image: url('shapes/msg-me.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.messages .message.assistant:after
{
    content: " ";
    display: block;
    position: absolute;
    top: 100%;
    left: calc(100% - 20px);
    width: 16px;
    height: 16px;
    background-image: url('shapes/msg-you.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#chat .chat
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

/* Bar setup */

.BarSetup
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.BarSetup > .TabBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    overflow: auto;
    background-color: #00000033;
    box-sizing: border-box;
    padding: 10px;
}

.BarSetup > .TabPages
{
    position: absolute;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0px;
}

/* Top tabs */

.ace_editor:not(.active) 
{
    display: none;
}
.ace_editor { min-height: 100%; margin: 0; }

.ace_editor *
{
    font-family: Ubuntu Mono, Monospace !important;
}

.TopTabs
{
    display: inline-block;
}

.TopTab
{
    background-color: var(--tab-background);
    border-radius: 3px 3px 0 0;
    padding: 0 10px;
    margin: 0 10px 0 0;
    top: 4px;
    box-sizing: border-box;
    position: relative;
    height: 28px;
    line-height: 30px;
    display: inline-block;
    color: #ccccccff;
    cursor: pointer;
}

.TopTab.active
{
    color: white;
    background-color: var(--tab-background-active);
}

.TopTab > .close
{
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(feather/x.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    cursor: pointer;
    position: relative;
    top: 6px;
    opacity: 0.8;
    margin: 0 0 0 10px;
}
.TopTab > .close:hover
{
    opacity: 1;
}


.TopTabOption
{
    float: right;
    display: block;
    margin: 0;    
    padding: 0;
}

.TopTabOption .taboption
{
    background: transparent;
    border: 0;
    color: #ccccccff;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.TopTabOption .taboption:hover
{
    color: white;
}

.TopTabOption .taboption.add:before
{
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url('feather/file-plus.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 5px 0 0;
    filter: invert(1);
    position: relative;
    top: 2px;
}

